<div class="options-container">
    <section class="options">
        <nav class="level">
            <div class="level-left">
                <form [formGroup]="form">
                    <div class="select is-rounded is-small">
                        <select formControlName="type">
                            <option [value]="PieChartType.SIMPLE">Simple</option>
                            <option [value]="PieChartType.ADVANCED">Advanced</option>
                            <option [value]="PieChartType.GRID">Pie Grid</option>
                        </select>
                    </div>

                    <div *ngIf="form.value.type == PieChartType.SIMPLE" class="select is-rounded is-small">
                        <select formControlName="doughnut">
                            <option value="false">Pie</option>
                            <option value="true">Doughnut</option>
                        </select>
                    </div>

                    <label *ngIf="form.value.type == PieChartType.SIMPLE" class="checkbox">
                        <input formControlName="labels" type="checkbox">
                        <span>Show labels</span>
                    </label>

                    <app-common-chart-config (configChanged)="this.commonConfig = $event"></app-common-chart-config>
                </form>
            </div>
        </nav>
    </section>

    <app-chart-data-selector #dataSelector (dataChanged)="this.data = $event" [showSecondGroup]="false">
    </app-chart-data-selector>

</div>

<app-pie-chart [config]="config" [data]="data" [type]="form.value.type">
</app-pie-chart>
