:host {
    @import "../../styles/charts-common.scss";

    display: flex;
    flex-direction: column;

    max-height: 100%;

    > * {
        flex: 0 0 auto;
    }

    > *:last-child {
        flex: 1 1 auto;
        overflow-y: auto;
    }

    .options-container {
        overflow-x: auto;
        padding-bottom: 16px;
    }
}
