<div class="options-container">
    <section class="options">
        <nav class="level">
            <div class="level-left">
                <form [formGroup]="chartForm">

                    <div class="select is-rounded is-small">
                        <select formControlName="direction">
                            <option [value]="BarChartDirection.HORIZONTAL">Horizontal</option>
                            <option [value]="BarChartDirection.VERTICAL">Vertical</option>
                        </select>
                    </div>

                    <div class="select is-rounded is-small">
                        <select formControlName="style">
                            <option [disabled]="isMultiSeries" [value]="BarChartStyle.SINGLE">Single Series</option>
                            <option [disabled]="!isMultiSeries" [value]="BarChartStyle.GROUPED">Grouped</option>
                            <option [disabled]="!isMultiSeries" [value]="BarChartStyle.STACKED">Stacked</option>
                            <option [disabled]="!isMultiSeries" [value]="BarChartStyle.NORMALIZED">Normalized</option>
                        </select>
                    </div>

                    <app-common-chart-config (configChanged)="configChanged($event)"></app-common-chart-config>

                </form>
            </div>
        </nav>
    </section>

    <app-chart-data-selector #dataSelector (dataChanged)="dataChanged($event)"
                             (selectionChanged)="dataSelectionChanged($event)"
                             [showSecondGroup]="true"></app-chart-data-selector>
</div>

<app-bar-chart [config]="chartConfig" [data]="data" [direction]="chartForm.value.direction"
               [style]="chartForm.value.style">
</app-bar-chart>
