<section class="options">
    <form [formGroup]="form">

        <div class="select is-rounded is-small">
            <select formControlName="scheme">
                <option *ngFor="let key of schemes.keys()" [value]="key">{{schemes.get(key)}}</option>
            </select>
        </div>

        <label class="checkbox">
            <input formControlName="legend" type="checkbox">
            <span>Legend</span>
        </label>

        <label class="checkbox">
            <input formControlName="gradient" type="checkbox">
            <span>Gradient</span>
        </label>

        <label class="checkbox">
            <input formControlName="animations" type="checkbox">
            <span>Animations</span>
        </label>

    </form>
</section>
