:host {

    .content-box {
        select {
            width: 100%;
        }
    }

    .ag-filter-apply-panel {
        margin-top: 8px;
        padding-right: 0;
        button {
            margin-bottom: 4px;
        }
    }

}
