<div class="content-box">
    <select #select [value]="value" (change)="emit($event.srcElement.value)">
        <option [value]="''">All</option>
        <option *ngFor="let item of selectItems" [value]="item.value">{{
        item.display
    }}</option>
    </select>
</div>

<div *ngIf="clear" class="ag-filter-apply-panel" ref="eButtonsPanel">
    <button type="button" ref="eResetButton" [disabled]="value == null || value?.length === 0"
        (click)="emit(''); value = ''">Reset Filter</button>
</div>
