section.options {
    margin: 16px 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .select,
    input,
    .checkbox,
    span {
        margin-right: 0.5rem;
    }

    span,
    .checkbox {
        position: relative;
        top: 2px;
    }
}
