:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    box-sizing: border-box;
    padding: 16px;

    ag-grid-angular {
        flex: 1 1 0;
    }

    .actions {
        flex: 0 0 auto;
        margin: 16px 0;
        text-align: right;
    }
}
