<div *ngIf="showTotals">
    {{ config?.api?.getDisplayedRowCount() || 0 }} planets found
</div>

<ag-grid-angular #agGrid class="ag-theme-balham" [columnDefs]="config?.columns" [modules]="modules"
    [gridOptions]="config?.getOptions()" (gridReady)="config?.onGridReady($event)"
    (filterChanged)="filtersChanged($event)"></ag-grid-angular>