<section class="options">
    <nav class="level">
        <div class="level-left">
            <form [formGroup]="dataForm">

                <div class="select is-rounded is-small">
                    <select formControlName="operation">
                        <option *ngFor="let operation of operations" [value]="operation.name">{{operation.display}}
                        </option>
                    </select>
                </div>

                <div class="select is-rounded is-small">
                    <select formControlName="column">
                        <option *ngFor="let column of aggregateColumns" [disabled]="isAggregateColumnDisabled(column)"
                                [value]="column.name">{{column.display}}</option>
                    </select>
                </div>

                <span>grouped by</span>
                <div class="select is-rounded is-small">
                    <select formControlName="group1">
                        <option *ngFor="let column of groupColumns"
                                [disabled]="column.name === dataForm.value.column || column.name === dataForm.value.group2"
                                [value]="column.name">
                            {{column.display}}
                        </option>
                    </select>
                </div>

                <ng-container *ngIf="showSecondGroup">
                    <span>and</span>
                    <div class="select is-rounded is-small">
                        <select formControlName="group2">
                            <option value=""></option>
                            <option *ngFor="let column of groupColumns"
                                    [disabled]="column.name === dataForm.value.column || column.name === dataForm.value.group1"
                                    [value]="column.name">
                                {{column.display}}
                            </option>
                        </select>
                    </div>
                </ng-container>
            </form>
        </div>
    </nav>
</section>
