<ng-container [ngSwitch]="type">

    <ng-container *ngSwitchCase="BarChartType.HORIZONTAL_BAR_CHART">
        <ngx-charts-bar-horizontal [animations]="config?.animations" [gradient]="config?.gradient"
                                   [legendPosition]="config?.legendPosition"
                                   [legend]="config?.legend" [results]="data"
                                   [schemeType]="config?.schemeType"
                                   [scheme]="config?.scheme" [showXAxisLabel]="config?.showXAxisLabel"
                                   [showYAxisLabel]="config?.showYAxisLabel"
                                   [view]="config?.view" [xAxisLabel]="config?.xAxisLabel"
                                   [xAxis]="config?.xAxis" [yAxisLabel]="config?.yAxisLabel"
                                   [yAxis]="config?.yAxis">
        </ngx-charts-bar-horizontal>
    </ng-container>

    <ng-container *ngSwitchCase="BarChartType.HORIZONTAL_GROUPED_BAR_CHART">
        <ngx-charts-bar-horizontal-2d [animations]="config?.animations" [gradient]="config?.gradient"
                                      [legendPosition]="config?.legendPosition"
                                      [legend]="config?.legend" [results]="data"
                                      [schemeType]="config?.schemeType"
                                      [scheme]="config?.scheme" [showXAxisLabel]="config?.showXAxisLabel"
                                      [showYAxisLabel]="config?.showYAxisLabel"
                                      [view]="config?.view"
                                      [xAxisLabel]="config?.xAxisLabel"
                                      [xAxis]="config?.xAxis" [yAxisLabel]="config?.yAxisLabel"
                                      [yAxis]="config?.yAxis">
        </ngx-charts-bar-horizontal-2d>
    </ng-container>

    <ng-container *ngSwitchCase="BarChartType.HORIZONTAL_NORMALIZED_BAR_CHART">
        <ngx-charts-bar-horizontal-normalized [animations]="config?.animations" [gradient]="config?.gradient"
                                              [legendPosition]="config?.legendPosition"
                                              [legend]="config?.legend" [results]="data"
                                              [schemeType]="config?.schemeType"
                                              [scheme]="config?.scheme" [showXAxisLabel]="config?.showXAxisLabel"
                                              [showYAxisLabel]="config?.showYAxisLabel"
                                              [view]="config?.view"
                                              [xAxisLabel]="config?.xAxisLabel"
                                              [xAxis]="config?.xAxis" [yAxisLabel]="config?.yAxisLabel"
                                              [yAxis]="config?.yAxis">
        </ngx-charts-bar-horizontal-normalized>
    </ng-container>

    <ng-container *ngSwitchCase="BarChartType.HORIZONTAL_STACKED_BAR_CHART">
        <ngx-charts-bar-horizontal-stacked [animations]="config?.animations" [gradient]="config?.gradient"
                                           [legendPosition]="config?.legendPosition"
                                           [legend]="config?.legend" [results]="data"
                                           [schemeType]="config?.schemeType"
                                           [scheme]="config?.scheme" [showXAxisLabel]="config?.showXAxisLabel"
                                           [showYAxisLabel]="config?.showYAxisLabel"
                                           [view]="config?.view"
                                           [xAxisLabel]="config?.xAxisLabel"
                                           [xAxis]="config?.xAxis" [yAxisLabel]="config?.yAxisLabel"
                                           [yAxis]="config?.yAxis">
        </ngx-charts-bar-horizontal-stacked>
    </ng-container>

    <ng-container *ngSwitchCase="BarChartType.VERTICAL_BAR_CHART">
        <ngx-charts-bar-vertical [animations]="config?.animations" [gradient]="config?.gradient"
                                 [legendPosition]="config?.legendPosition"
                                 [legend]="config?.legend" [results]="data" [schemeType]="config?.schemeType"
                                 [scheme]="config?.scheme" [showXAxisLabel]="config?.showXAxisLabel"
                                 [showYAxisLabel]="config?.showYAxisLabel"
                                 [view]="config?.view" [xAxisLabel]="config?.xAxisLabel"
                                 [xAxis]="config?.xAxis" [yAxisLabel]="config?.yAxisLabel"
                                 [yAxis]="config?.yAxis">
        </ngx-charts-bar-vertical>
    </ng-container>

    <ng-container *ngSwitchCase="BarChartType.VERTICAL_GROUPED_BAR_CHART">
        <ngx-charts-bar-vertical-2d [animations]="config?.animations" [gradient]="config?.gradient"
                                    [legendPosition]="config?.legendPosition"
                                    [legend]="config?.legend" [results]="data"
                                    [schemeType]="config?.schemeType"
                                    [scheme]="config?.scheme" [showXAxisLabel]="config?.showXAxisLabel"
                                    [showYAxisLabel]="config?.showYAxisLabel"
                                    [view]="config?.view" [xAxisLabel]="config?.xAxisLabel"
                                    [xAxis]="config?.xAxis" [yAxisLabel]="config?.yAxisLabel"
                                    [yAxis]="config?.yAxis">
        </ngx-charts-bar-vertical-2d>
    </ng-container>

    <ng-container *ngSwitchCase="BarChartType.VERTICAL_NORMALIZED_BAR_CHART">
        <ngx-charts-bar-vertical-normalized [animations]="config?.animations" [gradient]="config?.gradient"
                                            [legendPosition]="config?.legendPosition"
                                            [legend]="config?.legend" [results]="data"
                                            [schemeType]="config?.schemeType"
                                            [scheme]="config?.scheme" [showXAxisLabel]="config?.showXAxisLabel"
                                            [showYAxisLabel]="config?.showYAxisLabel"
                                            [view]="config?.view"
                                            [xAxisLabel]="config?.xAxisLabel"
                                            [xAxis]="config?.xAxis" [yAxisLabel]="config?.yAxisLabel"
                                            [yAxis]="config?.yAxis">
        </ngx-charts-bar-vertical-normalized>
    </ng-container>

    <ng-container *ngSwitchCase="BarChartType.VERTICAL_STACKED_BAR_CHART">
        <ngx-charts-bar-vertical-stacked [animations]="config?.animations" [gradient]="config?.gradient"
                                         [legendPosition]="config?.legendPosition"
                                         [legend]="config?.legend" [results]="data"
                                         [schemeType]="config?.schemeType"
                                         [scheme]="config?.scheme" [showXAxisLabel]="config?.showXAxisLabel"
                                         [showYAxisLabel]="config?.showYAxisLabel"
                                         [view]="config?.view"
                                         [xAxisLabel]="config?.xAxisLabel"
                                         [xAxis]="config?.xAxis" [yAxisLabel]="config?.yAxisLabel"
                                         [yAxis]="config?.yAxis">
        </ngx-charts-bar-vertical-stacked>
    </ng-container>
