:host {
    height: 100vh;
    width: 100vw;

    app-ag-grid-view,
    app-dynamic-chart {
        height: 100%;
        box-sizing: border-box;
        padding: 16px;
    }

    as-split-area {
        overflow: hidden;
    }
}
