<as-split (dragEnd)="saveSplit($event.sizes)">

    <as-split-area [size]="splitSizes[0]">
        <app-ag-grid-view [config]="config" [showTotals]="true">
        </app-ag-grid-view>
    </as-split-area>

    <as-split-area [size]="splitSizes[1]">
        <app-dynamic-chart></app-dynamic-chart>
    </as-split-area>

</as-split>