:host {
    @import "../../styles/charts-common.scss";

    display: flex;
    flex-direction: column;

    section.options {
        flex: 0 0 auto;
    }

    app-dynamic-bar-chart,
    app-dynamic-pie-chart {
        flex: 1 1 auto;
    }
}
