<section class="options">
    <div class="select is-rounded is-small">
        <select (change)="type = $event.srcElement.value">
            <option [value]="ChartType.BAR">Bar Chart</option>
            <option [value]="ChartType.PIE">Pie Chart</option>
        </select>
    </div>
</section>

<ng-container [ngSwitch]="type">

    <ng-container *ngSwitchCase="ChartType.BAR">
        <app-dynamic-bar-chart></app-dynamic-bar-chart>
    </ng-container>

    <ng-container *ngSwitchCase="ChartType.PIE">
        <app-dynamic-pie-chart></app-dynamic-pie-chart>
    </ng-container>

</ng-container>
