<ng-container [ngSwitch]="type">

    <ng-container *ngSwitchCase="PieChartType.SIMPLE">
        <ngx-charts-pie-chart [animations]="config?.animations" [doughnut]="config?.doughnut"
                              [gradient]="config?.gradient"
                              [labels]="config?.labels" [legendPosition]="config?.legendPosition"
                              [legend]="config?.legend"
                              [results]="data" [scheme]="config?.scheme" [view]="config?.view">
        </ngx-charts-pie-chart>
    </ng-container>

    <ng-container *ngSwitchCase="PieChartType.ADVANCED">
        <ngx-charts-advanced-pie-chart [animations]="config?.animations" [gradient]="config?.gradient" [results]="data"
                                       [scheme]="config?.scheme" [view]="config?.view">
        </ngx-charts-advanced-pie-chart>
    </ng-container>

    <ng-container *ngSwitchCase="PieChartType.GRID">
        <ngx-charts-pie-grid [animations]="config?.animations" [results]="data" [scheme]="config?.scheme"
                             [view]="config?.view"></ngx-charts-pie-grid>
    </ng-container>

</ng-container>
