/* You can add global styles to this file, and also import other style files */

@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import './bulma-styles.scss';
@import 'bulma';
@import 'bulma-extensions/dist/css/bulma-extensions.min.css';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
